head {
    margin: 0;
}
body {
    margin: 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

a.match {
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline;
}

header {
    padding-top: 0.1em;
    border-bottom: 1px solid #eee;
}

header > .content {
    max-width: 700px;
    margin: 0.7em auto 0.3em auto;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > .content > .title {
    font-size: 1.5em;
    letter-spacing: -0.04em;
    font-kerning: normal;
}

.menu-buttons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header-buttons {
    padding: 0;
    margin: 0;
    height: 40px;
    display: flex;
}

.menu-buttons > a {
    display: inline-block;
}

#instagram-button {
    position: relative;
    width: 29px;
    height: 29px;
    margin-left: 0.1em;
    margin-right: 0.5em;
}

#instagram-button > a {
    display: block;
    position: absolute;
    top: 0.1em;
}

#instagram-button img {
    width: 29px;
    height: 29px;
}

.menu-buttons a {
    font-size: 0.9em;
    letter-spacing: -0.02em;
    margin: 0 0.2em;
}

#menu-toggle-button {
    /* inspired by https://codepen.io/erikterwan/pen/EVzeRP?editors=0100 */
    display: none;
    width: 80px;
    height: 29px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
}

#menu-toggle-button span {
    position: absolute;
    font-size: 1.1em;
    font-weight: bold;
    font-variant-caps: all-petite-caps;
    text-align: center;
    width: 80px;
    top: 0.2em;
}

#menu-toggle-button input {
    display: block;
    width: 80px;
    height: 29px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    z-index: 2;
}

#menu-toggle-button input:checked ~ .menu-buttons.mobile {
    display: block;
}

.menu-buttons.mobile {
    position: absolute;
    top: 40px;
    right: 0px;
    display: none;
    z-index: 1;
    background: #fff;
    border: 1px solid #eee;
}

.menu-buttons.mobile li {
    padding: 0.5em 0.8em;
    width: 100px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 780px) {
    #menu-toggle-button {
        display: block;
    }
    .menu-buttons {
        display: none;
    }
}

.art {
    width: 700px;
    max-width: 100%;
    margin: 2.4em auto 1.2em auto;
    padding: 40px;

    line-height: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid > .art {
    width: 33%;
    box-sizing: border-box;
    margin: 0;
    padding: 1px;
}

.grid > .art > .picture {
    /* Purpose of this is to vertically align
    image within the square.
    See https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div
    and continue the job */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.grid > .art > .description {
    display: none;
}

article.intro {
    width: 700px;
    max-width: 100%;
    margin: 2.4em auto 1.2em auto;
    line-height: 1.5em;
}

article.intro > p + p {
    text-indent: 1em;
}

section.artlist {
    width: 700px;
    max-width: 100%;
    margin: 2.4em auto 1.2em auto;
}

section.artlist.grid {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 780px) {
    .art {
        padding: 0;
        margin: 1.5em auto 1.5em auto;
    }
    .intro {
        margin: 1.5em auto 1em auto;
    }
}

.description p {
    max-width: 400px;
    text-align: left;
    margin: 0.6em 0;
}

.picture {
    align-self: center;
}

.artlist .picture img {
    width: 700px;
    max-width: 100%;
}

.single .picture img {
    width: 1000px;
    max-width: 100%;
}

.tags {
    font-size: 0.9em;
    letter-spacing: -0.02em;
}

.title {
    font-weight: bold;
}

.signature {
    margin: 0 -1em 0 2em;
}

#introductionImage {
    margin: 1em 0;
    padding: 1px;
    border: 1px solid;
    border-color: #d1d3cc #c1c3bb #c1c3bb #d1d3cc;
    max-width: 15em;
    align: center;
}

footer {
    padding-bottom: 0.1em;
}

footer > .content {
    max-width: 700px;
    margin: 1em auto 1.5em auto;
    font-size: 0.9em;
}