head {
    margin: 0;
}
body {
    margin: 0;
    font-size: 1.2em;
}

header {
    padding-top: 0.1em;
    border-bottom: 1px solid #888;
}

header > .content {
    max-width: 600px;
    margin: 0.5em auto;
    height: 2em;
}

header > .content > .title {
    float: left;
    font-size: 1.5em;
    letter-spacing: -0.04em;
    font-kerning: normal;
}

header > .content > .buttons {
    float: right;
}

section {
    max-width: 600px;
    margin: 2.4em auto 1.2em auto;
    padding: 40px;

    border-bottom: 1px solid #888;
    line-height: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section:last-child {
    border-bottom: none;
}

article {
    max-width: 600px;
    margin: 2.4em auto 1.2em auto;
    padding: 40px; /* decrease down to zero on narrow screens */

    line-height: 1.5em;
}

article > p + p {
    text-indent: 1em;
}

.description p {
    max-width: 400px;
    text-align: right;
    margin: 0.6em 0;
}

.picture {
    align-self: center;
}

.list .picture img {
    width: 600px;
    height: 600px;
}

.single .picture img {
    width: 900px;
    height: 900px;
}

.title {
    font-weight: bold;
}

.signature {
    margin: 0 -1em 0 2em;
}

#introductionImage {
    margin: 1em 0;
    padding: 1px;
    border: 1px solid;
    border-color: #d1d3cc #c1c3bb #c1c3bb #d1d3cc;
    max-width: 15em;
    align: center;
}