/** Homepage */
.mainPage {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.homePicture {
    width:50%;
    height:50%;
    position:absolute;
}
.homePicture.topLeft {
    top:0;
    left:0;
    background-color: #660;
}
.homePicture.topRight {
    top:0;
    right:0;
    background-color: #606;   
}
.homePicture.bottomLeft {
    bottom:0;
    left:0;
    background-color: #060;
}
.homePicture.bottomRight {
    bottom:0;
    right:0;
    background-color: #066;
}
.homeContent {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    background-color: rgba(200, 200, 200, 0.8);
    z-index: 1;
    padding: 3em;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

/** Gallery */

.galleryPage {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.galleryPage>article:first-of-type {
    height: 55vh;
}

.galleryPage>article {
    width: auto;
    height: 100vh;
    margin: 0 50px 0 0;
    padding: 0;
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
    @include media-query($on-palm) {
        max-width: 90vw;
    }
}

.galleryPage>article>figure {
    background-color: #edede4;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 90vw;
    height: 70vh;
    margin-top: 5vh;
    display: block;
}

.galleryPage>article>figure>img {
    object-fit: contain;
    display: none;
    width: 100%;
    height: 70vh;
    margin-top: 5vh;
}

.galleryPage>article>section {
    margin: 2em 5vw;
    padding: 1em 2em 1em 4em;
    text-align: right;
    vertical-align: bottom;
    border: 1px solid;
    border-color: #d1d3cc #c1c3bb #c1c3bb #d1d3cc;
    background-color: #f1f0e7;
    overflow: auto;
    max-width: 40em;
    min-width: 12em;
    position: absolute;
    right: 0;
    bottom: 5vh;
    @include media-query($on-palm) {
        min-width: 4em;
    }
}

.galleryPage>article>section>h3 {
    margin-bottom: 0;
}

.galleryPage>article>section>p {
    
}

.foreword {
    
}

#titleParagraph {
    font-weight: bold;
}

#thumbnailNavigation {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    width: 50px;
    z-index: 1;
}

#thumbnailNavigation>ul {
    list-style: none;
    margin-left: 0;
}

#thumbnailNavigation>ul>li {
    height: 46px;
    width: 46px;
    background-color: #edede4;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 2px solid $background-color;
    transition: border 0.3s;
    margin: 1px;
}

#thumbnailNavigation>ul>li:hover {
    border-left: 2px solid $link-color-hover;
}

#thumbnailNavigation>ul>li.active {
    border-left: 2px solid $link-color-active;
}

#thumbnailNavigation>ul>li>a {
    height: 50px;
    width: 50px;
    display: block;
}

#siteNavigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 2;
    background-color: #f1f0e7;
    border-bottom: 1px solid #d1d3cc;
    font-size: 18px;
    @include media-query($on-palm) {
        font-size: 14px;
        height: 35px;
    }
}

#siteNavigation>ul {
    list-style: none;
    margin-left: 0;
    position: relative;
}

#siteNavigation>ul>li {
    display: block;
    float: left;
    padding: 7px 0 6px 0;
    border-bottom: none;
}
#siteNavigation>ul>li.active {
    border-bottom: 2px solid $link-color-active;
}

#siteNavigation>ul>li>a {
    padding: 8px 0.75em;
    height: 33px;
    @include media-query($on-palm) {
        padding: 8px 0.2em;
    }
}
#siteNavigation>ul>li>a:hover {
    border-bottom: 2px solid $link-color-hover;
    text-decoration: none;
}

#siteNavigation>ul>li:first-child {
    font-weight: bold;
    margin-left: 50px;
    @include media-query($on-palm) {
        margin-left: 10px;
    }
}

.tapNavigation {
    z-index: 3;
    height: 7vh;
    position: fixed;
    left: 0;
    right: 50px;
    background-color: transparent;
    display: block;
    text-align: center;
    @include media-query($on-palm) {
        height: 20vh;
    }
}

.previous {
    top: 50px;
    cursor: n-resize;
}
.next {
    bottom: 0;
    cursor: s-resize;
}
.signature {
    margin: 0 -1em 0 2em;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
