<header>
    <div id="line1">
        <div id="line1-left"></div>
        <div id="title"><a href="{{ .Site.BaseURL }}">Elizabeth Malara</a></div>
        <div id="line1-right">
            <div id="menu-toggle-button">
                <input type="checkbox" />
                <span>Menu</span>
                <div id="mobile-buttons">
                    {{ partial "menu" . }}
                </div>
            </div>
            <div id="instagram-button">
                <a href="https://instagram.com/ela.mw">
                    <img src="{{ absURL "images/instagram-glyph-logo_May2016.png" }}" alt="Insta" title="Elizabeth's instagram profile" />
                </a>
            </div>
        </div>
    </div>
    <div id="line2">
        <nav id="menu-buttons">
            {{ partial "menu" . }}
        </div>
    </div>
</header>
