<header>
    <div class="content">
        <div class="title"><a href="{{ absURL "tags/featured" }}">Ella Malara</a></div>
        <ul class="buttons">
            <li><a href="{{ absURL "tags/landscape" }}">Landscape</a></li>
            <li><a href="{{ absURL "tags/flowers" }}">Flowers</a></li>
            <li><a href="{{ absURL "tags/portrait" }}">Portrait</a></li>
            <li><a href="{{ absURL "tags/acrylic" }}">Acrylic</a></li>
            <li><a href="{{ absURL "tags/oil" }}">Oil</a></li>
            <li><a href="{{ absURL "tags/drawing" }}">Drawing</a></li>
            <li class="instagram-button">
                <a href="https://instagram.com/ela.mw">
                    <img src="{{ absURL "images/instagram-glyph-logo_May2016.png" }}" alt="Insta" title="Elizabeth's instagram profile" />
                </a>
            </li>
        </div>
    </div>
</header>
