<header>
    <div class="content">
        <div class="title"><a href="{{ absURL "tags/featured" }}">Ella Malara</a></div>
        <ul class="menu-buttons">
            {{ partial "menu" . }}
        </ul>
        <div id="header-buttons">
            <div id="menu-toggle-button">
                <input type="checkbox" />
                <span>Menu</span>
                <ul class="menu-buttons mobile">
                    {{ partial "menu" . }}
                </ul>
            </div>
            <div id="instagram-button">
                <a href="https://instagram.com/ela.mw">
                    <img src="{{ absURL "images/instagram-glyph-logo_May2016.png" }}" alt="Insta" title="Elizabeth's instagram profile" />
                </a>
            </div>
        </div> 
    </div>
</header>
