<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="galleryPage">

      <section> <img src="{{ "/images/peacock.jpg" | prepend: site.baseurl }}"/> </section>
      <section> <img src="{{ "/images/ela.jpg" | prepend: site.baseurl }}"/> </section>
      <section> <img src="{{ "/images/kayak.jpg" | prepend: site.baseurl }}"/> </section>
      <section> <img src="{{ "/images/chicago.jpg" | prepend: site.baseurl }}"/> </section>
      <section> <img src="{{ "/images/peacock.jpg" | prepend: site.baseurl }}"/> </section>
      <section> <img src="{{ "/images/ela.jpg" | prepend: site.baseurl }}"/> </section>
      <section> <img src="{{ "/images/kayak.jpg" | prepend: site.baseurl }}"/> </section>
      <section> <img src="{{ "/images/chicago.jpg" | prepend: site.baseurl }}"/> </section>
        {{ content }}

  </body>

  <script>

  </script>

</html>
