<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="galleryPage">
      <nav>
        <ul>
        <li>i1</li>
        <li>i2</li>
        <li>i3</li>
        <li>i4</li>
        <li>i5</li>
        <li>i6</li>
        </ul>
      </nav>

      <article> <figure style="background-image: url({{ "/images/peacock.jpg" | prepend: site.baseurl }});" ></figure> <section><h3>Picture of a peacock</h3><p>This will contain description of the image you see above it</p></section></article>
      <article> <figure style="background-image: url({{ "/images/ela.jpg" | prepend: site.baseurl }});" ></figure>     <section><h3>Ela</h3><p>This will contain description of the image you see above it</p></section>  </article>
      <article> <figure style="background-image: url({{ "/images/kayak.jpg" | prepend: site.baseurl }});" ></figure>   <section><h3>Kayaking in Ontario</h3><p>This will contain description of the image you see above it</p></section> </article>
      <article> <figure style="background-image: url({{ "/images/chicago.jpg" | prepend: site.baseurl }});" ></figure> <section><h3>A trip to Chicago</h3><p>This will contain description of the image you see above it</p></section> </article>
        {{ content }}

      <a class="navigation previous" href="#">&lt;</a>
      <a class="navigation next" href="#">&gt;</a>
  </body>

  <script>
  $(function() {

    var currentElement = -1;

    function getCurrentElement() {
      var currentPosition = $('html').scrollTop();
      var elementHeight = $('.galleryPage>nav').height();
      console.log(currentPosition + ", " + elementHeight + ", " + (currentPosition + elementHeight * 0.75));
      return Math.floor((currentPosition + elementHeight * 0.5) / elementHeight);
    }

    function getElementY(index) {
      var elementHeight = $('.galleryPage>nav').height();
      return index * elementHeight;
    }

    $(window).scroll(function(e) {
      var newElement = getCurrentElement();
      if (newElement != currentElement)
      {
        currentElement = newElement;
        var elementParent = $( '.galleryPage>nav>ul>li').eq(newElement);
        //var elementDescription = elementParent.children('section').html();
        elementParent.stop().fadeOut(300).fadeIn(300);
        setTimeout(function() {
          elementParent.css('background: red;');
        }, 300);
      }
    });

    $('.previous').click(function(e){
      e.preventDefault();
      $('html, body').stop().animate({
          scrollTop: getElementY(getCurrentElement() - 1)
      }, 600);
    });

    $('.next').click(function(e){
      e.preventDefault();
      $('html, body').stop().animate({
          scrollTop: getElementY(getCurrentElement() + 1)
      }, 600);
    });

  });
  </script>

</html>
