<html>
    <head>
        <meta charset="utf-8">
        <title>Sample</title>
        <link rel="stylesheet" href="../static/css/malara.css">
    </head>
    <body>
        <header>
            <div class="content">
                <div class="title">Ella Malara</div>
                <div class="buttons">
                    <div class="instagram-button">X</div>
                </div>
            </div>
        </header>
        <section>
            <article>
                
                <p>Admiration of the beauty that surrounds me gives meaning to my life and action. I have experienced this feeling since I was young and I can gladly say that over the years, it is still blooming in me. As an artist, I try to transfer onto canvas, by means of colors and textures, brush, palette knife, pen or pencil all that fascinates me. Nature is my inspiration; whether it be the changing seasons, still life or portraits.</p>

                <p style="text-align: center">
                    <img id="introductionImage" src="{{ absURL "images/ela.jpg" }}" />
                </p>

                <p>My works are in numerous private collections in Canada, Austria, France, Germany and Poland. I'm a member of <a href="http://www.societyofcanadianartists.com/content/gallery/gallery_inside.aspx?id=653">Society of Canadian Artists</a></p>

                <p>I hope you enjoy your stay on my website. If you'd like to commission a piece, reach out to me at <a href="mailto:elathepainter@gmail.com">elathepainter@gmail.com</a> <img class="signature" src="{{ absURL "images/emw.png" }}"/></p>

            </article>
        </section>
        <section>
            <figure>
                <div class="picture"> </div>
                <p class="title">Storm in Tobermory</p>
                <p class="description">Award of the year</p>
                <p class="tags">#oil #landscape #ontario #contest</p>
            </figure>
        </section>
        <section>
            <figure>
                <div class="picture"> </div>
                <p class="title">Storm in Tobermory</p>
                <p class="description">Award of the year</p>
                <p class="tags">#oil #landscape #ontario #contest</p>
            </figure>
        </section>
        <section>
            <figure>
                <div class="picture"> </div>
                <p class="title">Storm in Tobermory</p>
                <p class="description">Award of the year</p>
                <p class="tags">#oil #landscape #ontario #contest</p>
            </figure>
        </section>
        <section>
            <figure>
                <div class="picture"> </div>
                <p class="title">Storm in Tobermory</p>
                <p class="description">Award of the year</p>
                <p class="tags">#oil #landscape #ontario #contest</p>
            </figure>
        </section>
    </body>
</html>