{{ define "content" }}
<section id="single">
    {{ with .Params }}
    <div class="picture">
        <img src="/art/{{- .image -}}" title="{{.title}}" />
    </div>
    <div class="description">
        <p class="title">{{.title}}</p>
        <p class="image-description">{{.description}}</p>
        
        {{ if .availability }}
            <p class="image-availability"><a href="{{.availabilityLink}}" target="_blank">{{.availability}}</a></p>
        {{ end }}
        
        {{ if .sold }}
            <p class="image-sold">{{.sold}}</p>
        {{ end }}
        
        {{ range .sets }}
            {{ $setName := . }}
            {{ with $.Site.GetPage (printf "/sets/%s" $setName) }}
                <p class="tags">See in a set <span><a href="/sets/{{ urlize $setName }}">{{.Title}}</a></span> as {{.Type | lower }}</p>
            {{ end }}
        {{ end }}
        <p class="tags">See other artwork in
        {{ range .tags }}
            {{ $tagName := . }}
            {{ with $.Site.GetPage (printf "/tags/%s" $tagName) }}
                <span><a href="/tags/{{ urlize $tagName }}">{{ .Title }}</a></span>
            {{ end }}
        {{end}}
        </p>
    </div>
    {{ end }}
    {{ if .Content }}
    <div class="content">
        {{.Content}}
    </div>
    {{ end }}
</section>
{{ end }}