{{ define "content" }}
<section id="single">
    {{ with .Params }}
    <div class="picture">
        <img src="/art/{{- .image -}}" title="{{.title}}" />
    </div>
    <div class="description">
        <p class="title">{{.title}}</p>
        <p class="description">{{.description}}</p>
        {{ range .sets }}
            {{ $setName := . }}
            {{ with $.Site.GetPage (printf "/sets/%s" $setName) }}
                <p class="tags">See in a set <span><a href="/sets/{{ urlize $setName }}">{{.Title}}</a></span> as {{.Type | lower }}</p>
            {{ end }}
        {{ end }}
        <p class="tags">See other artwork in
        {{ range .tags }}
            <span><a href="/tags/{{ urlize . }}">{{ . }}</a></span>
        {{end}}
        </p>
    </div>
    {{ end }}
</section>
{{ end }}